
@media screen and (min-width: 1024px)
{
  aside ul
{
  margin-right: 18%;
}

}


h1
{
    text-transform: uppercase;

}






body
{ 
    margin:0;
    padding:0;
    overflow-x: hidden;
    width: 100%;
}


li 
{
  list-style-type: none;
  

   
}



li:before 
{
  
    
}

.section1_element li:nth-child(1):before 
{
    content: ""; 
    
}




.trait
{
    
    width: 70%;
    
}

.bordure_black
{
   
   border: 6px black solid;
   background: black;
   color: #FDD835;
   text-align: center;
   
}
aside .fas
 {
  color: #000000;
 }

 .fas
 {
  color: #FDD835;
 }

