h1
{
    text-transform: uppercase;
}



img
{
    border-radius: 50%;
}

    



li {list-style-type: none;}



li:before 
{
    content: "//"; 
    
}

.one  li:nth-child(1):before 
{
    content: "**"; 
    
}




.trait
{
    border-bottom: 3px solid ;
    border-color: #00796B;
}

.bordure_black
{
   
   border: 6px black solid;
   background: black;
   color: #FFEB3B;
   margin-right : 70%;
   padding-left : 10%;
}

aside
{
    background-color: #FFEB3B;
}
