
    
    

@media screen and (min-width: 1024px)
{
	footer
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
   .element_bas:first-child 
    {
    	width: 25%;
    	background-color: #FDD835;
    	padding-top: 5%;
    }
    .element_bas:nth-child(2)
	{
		width: 69.2%;
		
		margin-bottom: 7.5em;
	}
	#recommandations
	{
		display: flex;
		margin-left: 5%;
		border-bottom: 3px solid ;
	    border-color: #FDD835;
	}
	#section3_recommandations
	{
		display: flex;
		
		padding-left : 0%;
		margin-left: 1.3%;
	}
	

}






.section3_element
{
	margin-top: 3%;
}

.section3_element:nth-child(2)
{
	margin-left: 20%;
}



.fa-pencil-alt
{
  margin-right : 5%;
}

#icones
{
	display: flex;
	justify-content: center;
}

.fa-gamepad ,.fa-futbol
{
	margin-right:4%;
}


.fa-book-reader
{
	margin-left: 1%;
}