

@media screen and (min-width: 1024px)
{
		header
	{
	    display : flex;
	   
	    
	}

    
    .element_haut:first-child
	{
	    width: 25%;
	    background-color: #FDD835;
	    
	}
	img
	{
		width: 55%;
		height:65%;
		border-radius: 50%;
	   
	    margin-left: 22%;
	    margin-top: 13%;
	}

   
}


.element_haut:nth-child(2)
{
    
    width: 66.7%;
    margin-left: 5%;
    margin-top: 2.5%;
}

#prenom
{
    color: #FDD835
}

#souligner_devel
{
    text-decoration: underline ;
    text-decoration-color:  #FDD835;
}

.fa-stamp
{
	margin-right: 5%;
}