








/*Header*/

@media screen and (max-width: 1024px)
{
	
    
    header h1
    {
    	font-size: 1.7em;
    	text-align: center;
    	margin-top: 5%;

    }
    header h2
    {
    	font-size: 1.5em;
    	text-align: center;

    }
    header
    {
    	display: flex;
    	flex-direction: column;
    	
     }	
    .element_haut:first-child
	{

	    width: 100%;

	    order: 1;
	    background-color: #FDD835;
	    height: 150px;
	}
	.element_haut:nth-child(2)
	{
		width: 100%;
		order: 2;
		height: 150px;
	}
	
	

}

@media screen and (max-width: 1024px) 
	{
		img
			{
				display: block;
				width: 144px;
				height:130px;
				margin-top: 10px;
				margin-left: auto;
				margin-right: auto;
			    
			}
	}




/* Middle */
@media screen and (max-width: 1024px)
{
	#mil
	{
		display: flex;
    	flex-direction: column;
	}

    .element_milieu:first-child 
	{
		order: 1;
		width: 100%;
		background-color: #FDD835;
		
	}   
	.element_milieu:first-child  ul
	{
		margin-right: 9.5%;
		
	}
	.element_milieu:nth-child(2) 
	{
		order: 3;
		margin-top: 2%;
	} 

	
	.element_milieu:nth-child(3) 
	{
  		order: 2;
	    width: 100%;
	    background-color: #FDD835;
	}

	#a_propos p
	{

		text-align: justify;
	}

	.element_milieu:nth-child(4) 
	{
		order: 4;
	}

	.liste_element:first-child
	{	
		
		padding-right: 6%;
	
	}
	aside  h1
	{
	    padding-right: 1.5%;
	    
	}
	.bordure_black
	{
		margin-top: 0px;
	}

}


/*Footer*/

@media screen and (max-width: 1024px)
{	
	footer
	{
		display: flex;
		flex-direction: column;
	}
    .element_bas:first-child 
	{
		width: 100%;
		height: 150px;
		background-color: #FDD835;
		order: 2;
		margin-top: 2%;
		
	}   
	.element_bas:nth-child(2)
	{

		width: 100%;
		margin-top: 2%;
		order: 1;
	} 
	   #recommandations
	{
		display: flex;
		border-bottom: 3px solid ;
	    border-color: #FDD835;
	    
	}
	 
	#section3_recommandations
	{
		display: flex;
		
		padding-left : 0%;
		margin-left: 20%;
	}
	
		

	

}

